* {
    margin: 0;
    padding: 0;
}

.container{
    display:block;
    width:90%;
    margin:0 auto;
    max-width:1200px;
}


a {
    text-decoration: none;
}
a,
label {
    cursor:pointer;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.tfwk-fixed {
    /*position:fixed;*/
}

img.responsive {
    max-width: 100%;
    height: auto;
}

img.round-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

img.square-img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.row {
    display: block;
    margin-left:-1%;
    margin-right:-1%;
}

.row:after {
    content: "";
    display:block;
    clear: both;
}

.row > [class^="span"],
.row > [class*=" span"],
.row > [class^="col"],
.row > [class*=" col"] {
    float: left;
    margin-left:1%;
    margin-right:1%;
}

.clear {
    display: block;
    clear: both;
    /* height: 0; */
}

/* BxSlider Fix */
.bxSlider .row {
    margin-left:0;
    margin-right:0;
}

.inline > [class^="span"],
.inline > [class*=" span"],
.inline > [class^="col"],
.inline > [class*=" col"],
ul.inline > li {
    display: inline-block;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-top {
    vertical-align: top;
}

.vertical-bottom {
    vertical-align: bottom;
}

.animate {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.animate5 {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.animate8 {
    transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
}

.round-corners {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.round-corners5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.round-corners10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.border-box {
    box-sizing: border-box;
    -mozbox-sizing: border-box;
}

.span1 {
    width: 6.3%;
}

.span2 {
    width: 14.6%;
}

.span3 {
    width: 23%;
}

.span4 {
    width: 31.3%;
}

.span5 {
    width: 39.6%;
}

.span6 {
    width: 48%;
}

.span7 {
    width: 56.3%;
}

.span8 {
    width: 64.6%;
}

.span9 {
    width: 73%;
}

.span10 {
    width: 81.3%;
}

.span11 {
    width: 89.6%;
}

.span12 {
    width: 98%;
}

.col2 {
    width: 48%;
}

.col3 {
    width: 31.33%;
}

.col4 {
    width: 23%;
}

.col5 {
    width: 18%;
}

.col6 {
    width: 14.6%;
}

.width20 {
    width: 20%;
}

.width80 {
    width: 80%;
}

.width25 {
    width: 25%;
}

.width75 {
    width: 75%;
}

.width33 {
    width: 33.33%;
}

.width100 {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}


/* Form Elements */
.field-section {
    display:block;
    /* margin:40px auto; */
}

.field {
    display: block;
    margin-bottom:20px;
}

.field > label {
    display: inline-block;
    margin-bottom:5px;
}

.field > span.tooltip {
    position:relative;
    display:inline-block;
    vertical-align: text-bottom;
    line-height:150%;
    color:#fff;
    margin-left:10px;
    cursor: help;
}

.field .tooltip:before{
    color:#27b4b4;
    font-family: 'FontAwesome';
    content: "\f05a";
}

.field > span.tooltip > i {
  visibility:hidden;
  opacity:0;
  position:absolute;
  bottom:150%;
  left:-20px;
  width:200px;
  z-index:999999;
  background:#444;
  display:inline-block;
  padding:10px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  transition: all .3s ease-in-out;
}

.field > span.tooltip:hover > i {
  visibility:visible;
  opacity:1;
}

.field > div,
.field > div .minicolors {
    display:block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position:relative;
    min-height:33px;
}

.field > div:after,
.field > div .minicolors {
    content: "";
    display:block;
    clear:both;
}

.field > div > input[type="text"],
.field > div > input[type="file"],
.field > div > input[type="tel"],
.field > div > input[type="username"],
.field > div > input[type="password"],
.field > div > input[type="email"],
.field > div > input[type="number"],
.field > div > textarea,
.field > div > select,
.field .twitter-typeahead input[type="text"],
.field > div .minicolors input[type="text"] {
    padding: 5px;
    margin:0;
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    color:inherit;
    line-height:inherit;
    font-size:inherit;
    min-height:33px;
}
.field > div .minicolors input[type="text"] {
    padding-left:35px;
}
.field > div .minicolors-swatch {
    top:0;
    left:0;
    width:30px;
    height:33px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

/* Select fields */
.field > .select:after {
    content: "\f107";
    font-family: 'FontAwesome';
    position:absolute;
    top:0px;
    right:5px;
    line-height: 150%;
    width:auto;
    padding:5px;
    text-align:center;
    pointer-events:none;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.field > .select > select[multiple] {
  height:auto !important;
}

/* Placeholders */
.field > div ::-webkit-input-placeholder {
    color: inherit;
}
.field > div :-moz-placeholder {
    color: inherit;
}
.field > div ::-moz-placeholder {
    color: inherit;
}
.field > div :-ms-input-placeholder {
    color: inherit;
}

/* Radio fields */
.field > .radio > input[type="radio"] {
    display:none;
}
.field > .radio > input[type="radio"] + label {
    float:left;
    padding:7px 15px;
    background:#fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.field > .radio > input[type="radio"]:first-child + label {
    border-right:0;
}
.field > .radio > input[type="radio"]:last-child + label {
    border-left:0;
}
.field > .radio > input[type="radio"]:checked + label {
    background:#ddd;
}

/* Checkbox fields */
.field > .checkbox > input[type="checkbox"] {
    display: inline-block;
    vertical-align: top;
    line-height: 150%;
    margin: 10px 5px 10px 0;
}
.field > .checkbox > input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: top;
    line-height: 150%;
    margin: 10px 5px 10px 0;
}
.field input[type="checkbox"]:checked {
  
}


/* file and icon fields */
.field > .file > a,
.field > .fa-icon > a {
    display:inline-block;
    position:absolute;
    top: 1px;
    padding:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-left:1px solid #ccc;
    line-height: 150%;
    font-size:14px;
    width:40px;
    text-align:center;
    background:#fff;
}
.field > .file > .premise-btn-upload,
.field > .fa-icon > .premise-choose-icon {
    right:41px;
}
.field > .file > .premise-btn-remove,
.field > .fa-icon > .premise-remove-icon {
    right:1px;
}


/* Buttons Styles */
.tfwk-btn {
    display:inline-block;
    border:0;
    padding:5px 15px;
    font-size:inherit;
    line-height:inherit;
    color:inherit;
    font-weight:inherit;
}

.tfwk-btn-submit {
    border:1px solid #ccc;
    background:#fff;
}

.tfwk-btn-sm {
    padding:10px 20px;
}

.tfwk-btn-lg {
    padding:15px 30px;
}

.tfwk-btn-xlg {
    padding:20px 40px;
}



/* TypeAhead */
.field .twitter-typeahead,
.field .tt-query,
.field .tt-hint {
  width: 100%;
}

.field .typeahead {
  background-color: #fff;
}

.field .typeahead:focus {

}

.field .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.field .tt-hint {
  color: #999;
}

.field .tt-dropdown-menu {
  width: 99%;
  margin-top: 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.field .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.field .tt-suggestion.tt-cursor {
  background-color: #eee;

}

.field .tt-suggestion p {
  margin: 0;
}

.field .gist {
  font-size: 14px;
}
/* End TypeAhead */

.field.hidden {
    visibility:hidden;
    height: 0;
}



.tfwk-count-elements{
    position:relative;
    overflow:auto;
}
.tfwk-count-elements span.tfwk-counter{
    display:none;
    position:absolute;
}



/* Aspect Ratios */
.aspect-ratio,
.aspect-ratio2-1,
.aspect-ratio1-2,
.aspect-ratio4-3,
.aspect-ratio16-9 {
    position: relative;
}
.aspect-ratio:before,
.aspect-ratio2-1:before,
.aspect-ratio1-2:before,
.aspect-ratio4-3:before,
.aspect-ratio16-9:before{
    content: "";
    display: block;
}
.aspect-ratio:before {
    padding-top: 100%;  /* initial ratio of 1:1*/
 }
/* Other ratios */
.aspect-ratio2-1:before {
    padding-top: 50%;
}
.aspect-ratio1-2:before {
    padding-top: 200%;
}
.aspect-ratio4-3:before {
    padding-top: 75%;
}
.aspect-ratio16-9:before {
    padding-top: 56.25%;
}
.aspect-ratio > .aspect-ratio-el,
.aspect-ratio2-1 > .aspect-ratio-el,
.aspect-ratio1-2 > .aspect-ratio-el,
.aspect-ratio4-3 > .aspect-ratio-el,
.aspect-ratio16-9 > .aspect-ratio-el {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}






/*Tabs*/
.tfwk-active-tab-content {
    display:block;
}
.tfwk-hide-tab-content {
    display:none;
}








/* Shortcodes */
#tfwk-sc-dialog {
    position:fixed;
    top:20%;
    left:20%;
    width:60%;
    height:60%;
    background:#fff;
    z-index:9999;
    padding:20px;
    box-sizing:border-box;
    -woz-box-sizing:border-box;
    box-shadow:0 0 10px #333;
    -webkit-box-shadow:0 0 10px #333;
    -moz-box-shadow:0 0 10px #333;
    -ms-box-shadow:0 0 10px #333;
    -o-box-shadow:0 0 10px #333;
}





/* Ajax  */
#tfwk-ajax {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    z-index:999999;
}

#tfwk-ajax .tfwk-ajax-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#333;
    opacity:.8;
    cursor: pointer;
}

#tfwk-ajax .tfwk-ajax-inner {
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    height:80%;
    overflow:auto;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:20px;
    background:#fff;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border:2px solid #333;
}

#tfwk-ajax .tfwk-ajax-timer {
    position:absolute;
    top:50%;
    left:50%;
    width:50px;
    height:50px;
    margin: -30px 0 0 -30px;
    padding:10px;
}
#tfwk-ajax .tfwk-ajax-timer:after {
    display:block;
    content: 'loading..';
    text-align:center;
    margin-left:-5px;
    margin-top:10px;
}





.showonmobile {
    display:none;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 600px) {
    .row > .col2,
    .row > .col3,
    .row > .span7,
    .row > .span8,
    .row > .span9,
    .row > .span10,
    .row > .span11,
    .row > .span12 {
        width:98%;
    }

    .row > .col4,
    .row > .col5,
    .row > .col6,
    .row > .span1,
    .row > .span2,
    .row > .span3,
    .row > .span4,
    .row > .span5,
    .row > .span6 {
        width:48%;
    }

    .showonmobile {
        display:inline-block;
    }

    .hideonmobile {
        display:none;
    }

    .fullwidthmobile{
        width:98%;
        margin-right:1%;
        margin-left:1%;
    }
}





/* Wordpress Default Styles */
img.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
img.alignright {
    display:block;
    float:right;
    margin-left:10px;
}
img.alignleft {
    display:block;
    float:left;
    margin-right:10px;
}